/***
    css for multi select drop down
**/

.selectContainer{
    background-color: white;
    width: 400px;
    border-bottom: rgba(109, 109, 109, 0.37) 1px solid;
    border-radius: 7px;
  }
  .drop-toggle{
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 80%;
    text-align: left;
    border: none;
    }
  
  .drop-toggle i{
    float:right;
  }
  .drop-show {
    padding: 4px;
    width: 32%;
    background-color: #FFF;
    border: 1px solid #BABABA;
    position: absolute;
    z-index: 100;
    -webkit-box-shadow: 0 6px 10px rgba(0,0,0,.15);
    -moz-box-shadow: 0 6px 10px rgba(0,0,0,.15);
    box-shadow: 0 6px 10px rgba(0,0,0,.15);
    margin-left: 1px;
  }
  .drop-show label{
    display:block;
    font-size:15px;
    cursor: pointer;
  }
  .drop-show label input{
    vertical-align: top;
  }
  .drop-show label span{
    display:inline-block;
  }
  