<div class="pageContainer">
    <welcome></welcome>

    <div class="container">
      <div class="specify">
        <h2 style="font-weight: bolder;font-family: Montserrat;color:#3D3751">Ajouter Agent</h2>
      </div>
      <form class="specify" [formGroup]="AddAgentForm">
        <div style="display: flex;flex-direction: row;align-items: center;justify-content: center;margin-bottom: 2%">
          <div class="form-item">
            <input type="text"  autocomplete='new-password' formControlName="firstName"  required (input)="checkFirstName()" >
            <label >Nom agent</label>
            <div style="color: red; font-size: 10px;" *ngIf="nomVide">

              Le nom est requis.       
               </div>
          </div>
      
          <div class="form-item" style="margin-left: 2%">
            <input type="text"  autocomplete='new-password' formControlName="lastName" required (input)="checkLastName()">
            <label >Prénom agent</label>
            <div style="color: red; font-size: 10px;" *ngIf="prenomide">

              Le prénom est requis.      
                </div>
          </div>
    
  
        </div>
  
        <div style="display: flex;flex-direction: row;align-items: center;justify-content: center;margin-bottom: 2%">
          <div class="form-item">
            <input type="text"  autocomplete="off" formControlName="email" required (input)="checkEmail()" >
            <label >E-mail</label>
            <div style="color: red; font-size: 10px;" *ngIf="emailVide">
              Email est requis.
            </div>
            <div style="color: red; font-size: 10px;" *ngIf="emailError">
              l'adresse email n'est pas juste         
             </div>
          </div>
        
     
          <div class="form-item" style="margin-left: 2%">
            <input type="text"  autocomplete="off" formControlName="userName" required (input)="checkUsername()" >
            <label >Username agent</label>
            <div style="color: red; font-size: 10px;" *ngIf="usernameVide">
              user_name est requis.
            </div>
          </div>
   
        </div>
        <div style="display: flex;flex-direction: row;align-items: center;justify-content: center;margin-bottom: 2%">
            <div class="form-item" >
              <div class="password-input-container">
                <input type="{{ showPassword ? 'text' : 'password' }}"    formControlName="password" required (input)="checkPassword()">
                <label >Mot de passe</label>

                <a (click)="togglePasswordVisibility()">
                    <img *ngIf="showPassword" src="assets/images/eye.png" class="password-toggle-icon">
                    <img *ngIf="!showPassword" src="assets/images/hidden.png" class="password-toggle-icon">
                </a>
            </div>
   
                <div style="color: red; font-size: 10px;" *ngIf="passwordVide">
                  Le mot de passe est requis.
                </div>
                   
              <div style="color: red; font-size: 10px;" *ngIf="passwordError ">
                <p>Le mot de passe doit contenir au moins une majuscule, un chiffre,un caractère spécial </p>
                <p> et comporter entre 8 et 20 caractères</p>
          
                </div>
              <!-- </div> -->
       
           
        </div>
        <!-- <div class="form-item">
          <a (click)="togglePasswordVisibility()" >
            <img *ngIf="showPassword" src="assets/images/eye.png" style="width: 15px;">
            <img *ngIf="!showPassword" src="assets/images/hidden.png"  style="width: 15px;">
                           
                          </a>
        </div> -->
        <!-- <div class="form-item" *ngIf="!hasRequiredRole('ENTREPRISE_SUPER_ADMIN')  "> -->

          <div class="form-item" style="margin-left: 2%;"   >

            <select  *ngIf="hasRequiredRole('ENTREPRISE_SUPER_ADMIN')"
            formControlName="roleId" 

            >
            <option value="" disabled selected hidden>Sélectionnez un role</option>
      
               <option  *ngFor="let p of role" value="{{p.id}}" > {{p.libelle}}</option>
            </select>
            </div>
        
    
        </div>
        <div style="display: flex;flex-direction: row;align-items: center;justify-content: center;">

          <div class="form-item" >

            <select 
            formControlName="agencyId" 
            *ngIf="hasRequiredRole('ENTREPRISE_SUPER_ADMIN')"
            >
            <option value="" disabled selected hidden>Sélectionnez une agence</option>
      
               <option  *ngFor="let p of agency" value="{{p.id}}"   > {{p.intitule}}</option>
            </select>
            </div>
        </div>
   
      </form>

      <!--  <ng-container *ngFor="let item of errorList">
        <p style="color: red;display: flex;flex-direction: row;align-items: center;justify-content: center" *ngIf="item.cin">{{item.cin}}</p>
        <p style="color: red;display: flex;flex-direction: row;align-items: center;justify-content: center" *ngIf="item.email">{{item.email}}</p>
        <p style="color: red;display: flex;flex-direction: row;align-items: center;justify-content: center" *ngIf="item.licenseNumber">{{item.licenseNumber}}</p>
        <p style="color: red;display: flex;flex-direction: row;align-items: center;justify-content: center" *ngIf="item.phoneNumber">{{item.phoneNumber}}</p>
        </ng-container>-->
        <div class="">
          <button style="background: #66CFC8;border-radius: 10px;border: none;width: 300%;padding: 0.5%;  cursor: pointer;margin-top: 15%;"   (click)="AddAgent()">
            <p style="color: white;font-family: Montserrat" > Ajouter </p></button>
        </div>
    </div>
    
    <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
  </div>
  