<router-outlet></router-outlet>
<!--
<div style="" *ngIf="url != '/login'">
  <div class="sidebar">
    <div class="logo">
      <a>
        <img src="assets/images/beem-logo.png" style="width: auto">
      </a>
    </div>
    <div class="options">
      <div class="tooltip" [routerLink]="['/ConsulterCourses']"  [class.active]="router.url.startsWith('/ConsulterCourses')" [routerLinkActive]="['active']">
        <img src="assets/images/wallet.svg" >

      </div>
      <div class="tooltip" [routerLink]="['/Map']"  [class.active]="router.url.startsWith('/Map')" [routerLinkActive]="['active']">
       <img src="assets/Map_position.svg">

     </div>

    </div>
    <div class="logout">
      <a (click)="logout()">
        <img src="assets/images/logOut.png">
      </a>
    </div>
  </div>
</div>

<router-outlet *ngIf="url!= '/login'"></router-outlet>
<div *ngIf="url != '/login'" class="footer">Producted By :<img src="assets/images/digid.svg" style="width: 4%;margin-left: 1%"></div>
<app-login *ngIf="url== '/login'"></app-login>
<app-my-loader></app-my-loader>-->
